.image-text-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e3cfcf;
  max-width: 1440px;
  margin: 0 auto;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.image-text-section__image {
  flex: 1;
  max-width: 50%;
}

.image-text-section__image img {
  width: 100%;
  height: auto;
  display: block;
}

.image-text-section__content {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.image-text-section__title {
  font-family: "Fira Sans", sans-serif;
  font-size: 32px;
  font-weight: 275;
  color: #000000;
  text-transform: uppercase;
  line-height: 41.6px;
  align-items: center;
  margin: 0;
  max-width: 512px;
}

.image-text-section__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 23.4px;
  color: #000000;
  margin: 0 auto;
  max-width: 512px;
}

.image-text-section__button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: transparent;
  color: #333;
  border: 1px solid #333;
  cursor: pointer;
  transition: all 0.3s ease;
  align-self: center;
}

.image-text-section__button:hover {
  background-color: #333;
  color: #fff;
}

@media (min-width: 769px) {
  .image-text-section {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .image-text-section {
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
  }

  .image-text-section__image {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  .image-text-section__image img {
    width: 100%;
    height: auto;
  }

  .image-text-section__content {
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 20px;
  }

  .image-text-section__title {
    font-size: 24px;
    line-height: 30px;
    max-width: 90%;
    margin: 0 auto;
  }

  .image-text-section__text {
    font-size: 16px;
    line-height: 22px;
    max-width: 90%;
    margin: 10px auto;
  }

  .image-text-section__button {
    padding: 8px 16px;
    font-size: 12px;
    margin: 20px auto 0;
  }
}
